################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Willow App
/AffinityPublicMauiApp/.vs/AffinityPublicMauiApp/FileContentIndex/38e0d497-eb37-4137-a483-8cea18982437.vsidx
