################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Willow App
/AffinityPublicMauiApp/.vs/AffinityPublicMauiApp/FileContentIndex/38e0d497-eb37-4137-a483-8cea18982437.vsidx
/AffinityPublicMauiApp/.vs/AffinityPublicMauiApp/FileContentIndex/39ea6aea-1c68-4e23-8ff8-bb061da48a7f.vsidx
/AffinityPublicMauiApp/.vs/AffinityPublicMauiApp/FileContentIndex/e26a77d6-06ff-411e-ba82-dee63a6c3565.vsidx
/AffinityPublicMauiApp/.vs/AffinityPublicMauiApp/FileContentIndex/10d4297d-345d-4f3a-8968-46a0c1ccc172.vsidx
/AffinityPublicMauiApp/.vs/AffinityPublicMauiApp/FileContentIndex/2cdeafdd-72fd-4890-904f-b1d8eaed71a6.vsidx
/AffinityPublicMauiApp/.vs/AffinityPublicMauiApp/FileContentIndex/4a1f5b0f-ad84-42f1-bd1d-ae99cbd546cd.vsidx
/AffinityPublicMauiApp/.vs/AffinityPublicMauiApp/FileContentIndex/5102e37f-28d0-4af1-8b13-2aab5ca095a5.vsidx
/AffinityPublicMauiApp/.vs/AffinityPublicMauiApp/FileContentIndex/ff26b1e4-84af-41a1-bc74-44aef02a1d6d.vsidx
*.vsidx
