################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Willow App
/AffinityPublicMauiApp/.vs/AffinityPublicMauiApp/FileContentIndex/38e0d497-eb37-4137-a483-8cea18982437.vsidx
/AffinityPublicMauiApp/.vs/AffinityPublicMauiApp/FileContentIndex/39ea6aea-1c68-4e23-8ff8-bb061da48a7f.vsidx
/AffinityPublicMauiApp/.vs/AffinityPublicMauiApp/FileContentIndex/e26a77d6-06ff-411e-ba82-dee63a6c3565.vsidx
